{% extends 'base.html' %}
{% load static %}
{% block title %}Trang Demo Đề Tài - Home{% endblock %}

{% block content %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}
<section id="home" class="container">
    <h1 class="title">Ứng dụng AI để <br> phân loại khiếm khuyết trên da xoài</h1>
    <table class="info-table">
        <tr>
            <td class="label">Tên giáo viên hướng dẫn:</td>
            <td class="value">PGS.TS Nguyễn Chánh Nghiệm</td>
        </tr>
        <tr>
            <td class="label">Tên người thực hiện:</td>
            <td class="value">Huỳnh Hoàng Đông</td>
        </tr>
        <tr>
            <td class="label">Khóa học:</td>
            <td class="value">Kỹ thuật Điều khiển và Tự động hóa - Khóa 29</td>
        </tr>
        <tr>
            <td class="label">Năm học:</td>
            <td class="value">2022-2025</td>
        </tr>
        <tr>
            <td class="label">Mã số sinh viên:</td>
            <td class="value">M3522001</td>
        </tr>
    </table>
</section>
{% endblock %}
